
//configuração global
body{
    margin: 0;
    padding: 0;
    background-color: #a5a3a3;
  }
p{
  text-align: justify;
}
h2{
  text-align: center;
  padding-bottom: 32px;
}
//corpo central dos conteudos
#corpo{
 padding-left: 120px;
  
}
//configuração da barra lateral
.background-left {
   left: 0;
   
}
.background-right{
  right: 0;
}

.fundo-laterais{
  background-repeat: repeat-y;
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  background-image: url('../../src/imagens/topo-vazio_72_11zon.png');
  z-index: -1;
}

//configuração do carrocel
#carrocel{
  padding-left: 1vw;
  min-height: 40vh;
  margin-top: 80px;
  margin-bottom: 140px;
  
}
#carousel-exemplo{
  
  background-color: rgba(0,0, 0, 0.5);
  color: white;
  width: 90%;
  margin-bottom: 32px;
}
.carousel-inner{
  margin-bottom: 32px;
   img{
      width: 500px;
      height: 500px;
      object-fit: contain;
    }
}


//configurar o hero
.sobre{
  width: 80%;
  background-color: #000000bb;
  color: white;
  padding: 1vw;
  min-height: 40vh;
  margin-top: 80px;
  margin-bottom: 140px;
  padding-bottom: 32px; 
  text-align: center;
  
  img{
    height: 100%;
  } 
}
//menu de navegação
.navbar{
  border: solid 1px #bdbaba;
  margin-bottom: 16px;
  background-color: rgb(224, 223, 223);
  height: 120px;
  img{
    height: 90%;
  }
  
  
  a{
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
  }
}
 
  