
//configuração global
body{
    margin: 0;
    padding: 0;
    background: rgb(255, 196, 0);
    background: linear-gradient(90deg, rgba(255,196,0,1) 0%, rgba(166,156,12,1) 35%, rgba(82,255,0,1) 100%);
    scroll-behavior: smooth; 
  }
p{
  text-align: justify;
}
h2{
  text-align: center;
  
}
//footer
footer{
  
  bottom: 0;
  
  height: 14%;
  z-index: 1;
  background-color: rgb(224, 183, 0);
  box-shadow: 10px 5px 20px 5px black;
}
//corpo central dos conteudos
#corpo{
 padding-left: 100px;
 padding-right: 10px;
 justify-content: center;
 align-items: center;
  
}
//configuração da barra lateral
.background-left {
   left: 0;
   
}
.background-right{
  right: 0;
}

.fundo-laterais{
  background-repeat: repeat-y;
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  background-image: url('../../src/imagens/topo-vazio_72_13zon.png');
  z-index: -1;
}

//configuração do carrocel
#carrocel{
  box-shadow: 0 0 5px  black;
  width: 90%;
  height: 100%;
  margin-bottom: 140px;
  margin-left: 5%;
}
#carousel-exemplo{
  
  background-color: rgba(0,0, 0, 0.5);
  color: white;
  width: 100%;
  height: 100%;
  
  
}
.carousel-inner{
  margin-bottom: 32px;
   img{
      width: 200px;
      height: 400px;
      object-fit: contain;
    }
}


//configurar o hero
.sobre{
  width: 70%;
  background-color: #00000079;
  color: white;
  padding: 1vw;
  min-height: 40vh;
  margin-top: 80px;
  margin-bottom: 140px;
  padding-bottom: 32px; 
  P{
    margin-top: 15%;
  }
  
  
 
  
  
}
//menu de navegação
.navbar{
 
  box-shadow: 1px 5px 5px black;
  margin-bottom: 16px;
  background-color: rgb(224, 183, 0);
  height: 120px;
  img{
    height: 90%;
  }
  
  
  a{
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
  }
}

//configurando a aba trabalhos
#trabalhos{
  box-shadow: 0 0  5px black;
}
//configurando id localização
#localização{
  margin-top: 48px;
  box-shadow: 0 0  5px black;
  height: 350px;
  width: 100%;
}

.mapBox{
  border: 4px solid red;
  position: relative;
  width: 70%;
  height: 270px;
  
}
 
//configurando os cards
.card-block {
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  bottom: 0;
  left: 0;  
  object-fit: contain;
}


.card-block img{
  
  object-fit: fill;
}
.card {
  margin: 20px 0;
}


/* Flip Cards CSS */
.card-container {
  perspective: 700px;
  
}
.card-flip {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  height: auto;
  transition: all 0.5s ease-out;
  background: white;
  border: none;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  border: none;
}

.card-flip .front {
  position: relative;
  z-index: 1;
  background-color: goldenrod;
}

.card-flip .back {
  position: relative;
  z-index: 0;
  background-color: #2ecc71;
  color: white;
  font-weight: bold;
  transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
  transform: rotateY(180deg);
}

  